<div class="page">
    <div class="apropos">
        <a href="https://image.ibb.co/jxBRAx/IMG_98915_small.jpg">
            <img class="profile-pic" src="https://image.ibb.co/fVQqAx/cv_photo_carre.jpg" alt="">
        </a>
        <div class="aproposdiv">
            <h2>A propos</h2>
            <p class="description">Venant d'être diplômé de mon école d'ingénieurs, je suis à la recherche de mon
                premier emploi. J'ai des compétences dans de nombreux domaines tels que la programmation orientée objet,
                le développement mobile, la cybersécurité, l'IoT et l'anglais, j'ai reçu divers enseignements dans les
                domaines de la gestion de projet, le développement Web.
                <br>
                J'ai effectué un semestre à l'université Polytechnique de Budapest (BME, en Erasmus), cette expérience
                m'a réellement ouvert l'esprit et offert de nouveaux horizons.
            </p>
        </div>
    </div>
    <div class="contactcv">
        <div>
            <h2>Me Contacter</h2>
            <div class="contacter">
                <p>Alexandre Shenouda</p>
                <p>Haute Savoie</p>
                <p>France</p>
                <p>+33 7 85 03 17 84</p>
                <p>contact&#64;alexshenouda.fr</p>
            </div>
        </div>
        <div class="download">
            <p>
                <a href="../../assets/files/CVEnglish.pdf" class="button">
                    <i class="fa fa-download"></i>Download the CV in english</a>
            </p>
            <p>
                <a href="../../assets/files/CVFrench.pdf" class="button">
                    <i class="fa fa-download"></i>Télécharger le CV en français</a>
            </p>
        </div>
    </div>
</div>