<div>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Accueil"> 
      <as-accueil></as-accueil>  
    </mat-tab>
    <mat-tab label="A propos de"> 
      <as-apropos></as-apropos>  
    </mat-tab>
    <mat-tab label="CV"> Content 3 </mat-tab>
    <mat-tab label="Travaux"> Content 3 </mat-tab>
    <mat-tab label="Devise"> Content 3 </mat-tab>
    <mat-tab label="Contact">
      <as-contact></as-contact>
    </mat-tab>
  </mat-tab-group>
</div>

<router-outlet>
</router-outlet>




