<div id="pageLayout">
    <h1 class="lineItem">Alexandre Shenouda</h1>
    <h2 class="lineItem">Développeur fullstack Java/Angular</h2>
    <h3 class="lineItem">Passionné de code, je suis actuellement développeur fullstack pour Hortis. 
        Mes expériences en tant que développeur Java chez KPMG et Crédit Agricole m'ont permis de développer mes compétences en création d'APIs et de microservices.
    </h3>
    <hr>
    <ul class="social">
        <li>
          <a href="https://github.com/shenzou">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/alexandre.shenouda">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/u/0/+alexandreshenouda">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/alexandre-shenouda-0453122a/">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/alexandreshenouda/">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="skype:alexandrepiki?chat">
            <i class="fa fa-skype"></i>
          </a>
        </li>
      </ul>
</div>
